1.Write a program to create a function show_employee() using the following conditions.

It should accept the employeeâ€™s name and salary and display both.

If the salary is missing in the function call then assign default value 9000 to salary

In [ ]:
def show_employee(name, salary=9000):
    print("Name:" + name + ",Salary: "+ str(salary))

show_employee("Ben", 12000)

show_employee("Jessa",)

Name:Ben,Salary: 12000
Name:Jessa,Salary: 9000


Exercise 2: Create an inner function to calculate the addition.

In [ ]:
def outer_func(a,b):
    def inner_func(x,y):
        return x+y
    result=inner_func(a,b)+5
    print(result)
outer_func(50,6)

61

Exercise 3: Generate a Python list of all the even numbers between 4 to 30

In [ ]:
new_list=list(range(4,31,2))
print(new_list)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

Exercise 4: Lambda Function to Check if value is in a List

In [ ]:
#Without Lambda function
L=[2,4,6,7,9,45]

def func(L):
   num=7
   if num in L:
      print("Element is present in the list")
   else:
      print("Element is not present in the list")

func(L)

Element is present in the list

In [ ]:
#with lambda function
lst = [2, 4, 6, 7, 9, 45]
num = 8

func = lambda lst: print("Element is present in the list") if num in lst else print("Element is not present in the list")

func(lst)

Element is not present in the list

Exercise 5: Sort list of tuples with their sum

In [ ]:
points = [(1, 2), (5, 3), (0, 7), (3, 1)]

sorted_points = sorted(points, key=lambda x:x[0]+x[1])

print(sorted_points)

[(1, 2), (3, 1), (0, 7), (5, 3)]

Exercise 6 :
Write a python function, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. Return the results as a list

In [ ]:
def even(x,y):
   result=[num for num in range(x,y+1) if all(int(digits)%2==0 for digits in str(num))]
   return result

result=even(1000,3000)
print(result)

[2000, 2002, 2004, 2006, 2008, 2020, 2022, 2024, 2026, 2028, 2040, 2042, 2044, 2046, 2048, 2060, 2062, 2064, 2066, 2068, 2080, 2082, 2084, 2086, 2088, 2200, 2202, 2204, 2206, 2208, 2220, 2222, 2224, 2226, 2228, 2240, 2242, 2244, 2246, 2248, 2260, 2262, 2264, 2266, 2268, 2280, 2282, 2284, 2286, 2288, 2400, 2402, 2404, 2406, 2408, 2420, 2422, 2424, 2426, 2428, 2440, 2442, 2444, 2446, 2448, 2460, 2462, 2464, 2466, 2468, 2480, 2482, 2484, 2486, 2488, 2600, 2602, 2604, 2606, 2608, 2620, 2622, 2624, 2626, 2628, 2640, 2642, 2644, 2646, 2648, 2660, 2662, 2664, 2666, 2668, 2680, 2682, 2684, 2686, 2688, 2800, 2802, 2804, 2806, 2808, 2820, 2822, 2824, 2826, 2828, 2840, 2842, 2844, 2846, 2848, 2860, 2862, 2864, 2866, 2868, 2880, 2882, 2884, 2886, 2888]



7.Write a python function that accepts a sentence and calculate and return the number of letters and digits. Suppose the following input is supplied to the program: hello world! 123 Then, the output should be: LETTERS 10 DIGITS 3

In [ ]:
def sentence(x):
  alpha=0
  num=0
  for sent in x:
      if sent.isalpha():
          alpha+=1
      elif sent.isnumeric():
          num+=1
  return alpha ,num
alpha,num=sentence("Hello world!123")
print("LETTERS ",alpha)
print("DIGITS",num)

LETTERS  10
DIGITS 3

Using lambda and map function

In [ ]:
sentence = lambda x: (sum(map(str.isalpha, x)), sum(map(str.isnumeric, x)))

# Call the lambda function with a sample string
alpha, num = sentence("HAPPY NEW YEAR 2024")

# Print the counts
print("LETTERS:", alpha)
print("DIGITS:", num)

LETTERS: 12
DIGITS: 4

8.Write a Python program to convert all the characters into uppercase and lowercase and eliminate duplicate letters from a given sequence. Use the map() function

In [ ]:
# Convert all the characters into upper and lower case and eliminate duplicate letters in a sequence
def change(x):
    return str.upper(x),str.lower(x)

sequence={"a","b","r","a","c","a","d,","a","b","r","a"}
result=map(change,sequence)
print(set(result))

{('D,', 'd,'), ('R', 'r'), ('B', 'b'), ('C', 'c'), ('A', 'a')}

Exercise 9 MAP:
 Write a Python program to add two given lists and find the difference between them. Use the map() function

In [ ]:
l1=[2,4,6,7,9]
l2=[1,2,3,4,5,4]
def sum(a,b):
    return a+b
def diff(a,b):
    return a-b

sum_result=list(map(sum,l1,l2))
diff_result=list(map(diff,l1,l2))
print("Sum of Lists=",sum_result)
print("Difference of lists=",diff_result)

Sum of Lists= [3, 6, 9, 11, 14]
Difference of lists= [1, 2, 3, 3, 4]

using lambda function

In [ ]:
l1=[2,4,6,7,9]
l2=[1,2,3,4,5,4]

sum_result=list(map(lambda x,y:x+y,l1,l2))
diff_result=list(map(lambda x,y:x-y,l1,l2))
print("Sum of Lists=",sum_result)
print("Difference of lists=",diff_result)

Sum of Lists= [3, 6, 9, 11, 14]
Difference of lists= [1, 2, 3, 3, 4]


Exercise 10 Filter:
Write a Python program to filter the height and weight of students, which are stored in a dictionary using lambda.

In [ ]:

students={'John David': (6.1,72),
          'Cierra Vega': (6.2, 71),
          'Alden Cantrell': (5.9, 65),
          'Kierra Gentry': (6.0, 68),
          'Pierre Cox': (5.8, 66)}
#Height> 6ft and Weight> 70kg:
filtered_dictionary=dict(filter(lambda x:x[1][0]>6 and x[1][1]>70,students.items()))
print("Filterd students:\n",filtered_dictionary)

Filterd students:
 {'John David': (6.1, 72), 'Cierra Vega': (6.2, 71)}

Exercise 11 Filter:
Write a Python program to remove all elements from a given list present in another list using lambda.

In [ ]:
l1=[55,14,2,65,4,1,5,41,25]
l2=[5,6,47,8,23,61,55,25,4]

new_list=list(filter(lambda a: a not in l2,l1))
print("Original list=",l1)
print("Filtered list=",new_list)

Original list= [55, 14, 2, 65, 4, 1, 5, 41, 25]
Filtered list= [14, 2, 65, 1, 41]

Exercise 12 Reduce:


Write a Python program to calculate the product of a given list of numbers using lambda.

In [ ]:
import functools

numbers_list= [1,2,3,4,5,6,7,8,9,10]
product_list= functools.reduce( lambda x,y: x*y, numbers_list)
print("Product of numbers in the List=", product_list)

Product of numbers in the List= 3628800

Exercise 13 Reduce:


 Write a Python program to multiply all the numbers in a given list using lambda.

In [ ]:
import functools
Original_list=[4, 3, 2, 2, -1, 18]

product_list= functools.reduce( lambda x,y: x*y, Original_list)
print("Product of numbers in the List=", product_list)

Product of numbers in the List= -864

Exercise 14 Reduce:


Write a Python program to calculate the average value of the numbers in a given tuple of tuples using lambda.
Original Tuple:
((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))
Average value of the numbers of the said tuple of tuples:
(30.5, 34.25, 27.0)

In [ ]:
Original_Tuple= ((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))
y=tuple(zip(*Original_Tuple))
avg=tuple(map(lambda x:sum(x)/len(x),y))
print("Original Tuple:\n", Original_Tuple)
print("Average Value of numbers of the said tuple of tuples:\n",avg)

Original Tuple:
 ((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))
Average Value of numbers of the said tuple of tuples:
 (30.5, 34.25, 27.0)

Exercise 15:


Write a Python program to sort a given mixed list of integers and strings using lambda. Numbers must be sorted before strings.
Original list:
[19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]
Sort the said mixed list of integers and strings:
[1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

In [ ]:
original_list = [19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]

sorted_list = sorted(original_list, key=lambda x: (type(x) is str, x))  #or type(x) is not int

print("Original list:")
print(original_list)
print("Sort the said mixed list of integers and strings:")
print(sorted_list)

Original list:
[19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]
Sort the said mixed list of integers and strings:
[1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

Exercise 16:
Write a Python program to count the occurrences of items in a given list using lambda.
Original list:
[3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]
Count the occurrences of the items in the said list:
{3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}

In [ ]:
Original_list=[3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]
result=dict(map(lambda x:(x, Original_list.count(x)),Original_list))
print("Original list=",Original_list)
print("numbers:counts=",result)

Original list= [3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]
numbers:counts= {3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}



Exercise 17:

Write a Python program to remove None values from a given list using the lambda function. Original list: [12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12] Remove None value from the said list: [12, 0, 23, -55, 234, 89, 0, 6, -12]

In [ ]:
Original_list=[12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]
print("Orignal list=",Original_list)
#To remove None values
None_removed_list=list(filter(lambda x:x is not None,Original_list))

print("None Values removed from list",None_removed_list)

Orignal list= [12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]
None Values removed from list [12, 0, 23, -55, 234, 89, 0, 6, -12]