1. Write a Python program to sum all the items in a list.

In [ ]:
numbers=[2,4,6,8,10]

sum=0
for i in numbers:
  sum+=i
print("Sum of the items=",sum)

Sum of the items= 30

2. Write a Python program to get the largest number from a list.

In [ ]:
n=[2,4,5,6,78,9,88,1,6]

n.sort()
print("Largest number is=",n[-1])

Largest number is= 88

3. Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.

```
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result : 2
```

In [ ]:
string_list=["apple","madam","noon","mango","malayalam"]
i=0
for x in string_list:
    if len(x)>=2 and x[0]==x[-1]:
        i+=1

print("Number of strings in which length is 2 or more and the first and last characters are the same=",i)

Number of strings in which length is 2 or more and the first and last characters are the same= 3

4. Write a Python program to remove duplicates from a list.

In [ ]:
places=["kannur","kozhikode","kollam","kannur","malappuram","thrissur","kasarkode","kollam"]
newlist=[]
for x in places:
    if x not in newlist:
        newlist.append(x)

print(newlist)

['kannur', 'kozhikode', 'kollam', 'malappuram', 'thrissur', 'kasarkode']

5. Write a Python program to check if a list is empty or not.

In [ ]:
def my_function(items):
  if len(items)==0:
    print("list is empty")
  else:
    print("list is not empty")

fruits=["apple","banana","cherry"]
empty_list=[]
print(fruits)
my_function(fruits)

print(empty_list)
my_function(empty_list)

['apple', 'banana', 'cherry']
list is not empty
[]
list is empty

6. Write a Python program to filter the list if the length of the character is < 4

```
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result: ['abc', 'xyz', 'aba']
```

In [ ]:
names=["mia","silna","don","charley","david","pia"]
filtered_list=[]

for x in names:
    if len(x) < 4:
       filtered_list.append(x)


print("Names with character less than 4:",filtered_list)

Names with character less than 4: ['mia', 'don', 'pia']

7.Write a Python program to find the second largest number in a list.

In [ ]:
numbers=[56,45,4,565,23,6,66,4,5]
numbers.sort()
print(numbers[-2])

66

8. Write a Python program to reverse a list at a specific location.

In [ ]:
places=["Goa","Kerala","Karnataka","Tamilnadu","Andrapradesh","Odisha"]
print("Main list:",places)
loc="karanataka"

x=places.index("Karnataka")

part1= places[:x]
part2= places[x:]
part2.reverse()

reversed=part1+part2

print(f"Main List reversed at {loc}:",reversed)

Main list: ['Goa', 'Kerala', 'Karnataka', 'Tamilnadu', 'Andrapradesh', 'Odisha']
Main List reversed at karanataka: ['Goa', 'Kerala', 'Odisha', 'Andrapradesh', 'Tamilnadu', 'Karnataka']

9. Write a Python program to check if a list is a palindrome or not. Return true otherwise false.

In [ ]:
new=['m','a','l','a','y','a','l','a','m']

copy_new=new.copy()
new.reverse()

if new == copy_new:
    print("True")
else:
    print("false")

True

10. Write a Python a program to find the union and intersection of two lists.

In [ ]:
natural_num = [1,2,3,4,5,6,7,8,9,10,11]
even_num =    [2,4,6,8,10,12]
set1=set(natural_num)
set2=set(even_num)

union_set = set1.union(set2)
print("Union list:",list(union_set))
intersection_set = set1.intersection(set2)
print("Intersection list:",list(intersection_set))

Union list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
Intersection list: [2, 4, 6, 8, 10]

11.Write a Python script to sort (ascending and descending) a dictionary by value

In [ ]:
my_dict = {"banana": 5,"apple":2,"orange":8,"grape":3}

def get_value(item): #takes argument(item) i.e (5,2,8,3) and returns the value of index 1 in the tuple
    return item[1]   #([(key1,value1),(key2,value2),.....])

sorted_dict=dict(sorted(my_dict.items(),key=get_value)) #key reads (5,2,8,3) and sort it
print(sorted_dict)

{'apple': 2, 'grape': 3, 'banana': 5, 'orange': 8}

12. Write a Python script to check whether a given key already exists in a dictionary.

In [ ]:
my_dict = {"banana": 5,"apple":2,"orange":8,"grapes":3}
print(my_dict)

key=input("enter a key value=")

key_exists = key in my_dict
print(f"key:{key} exists:{key_exists}")

{'banana': 5, 'apple': 2, 'orange': 8, 'grapes': 3}
enter a key value=lk
key:lk exists:False

13.Write a Python program to sum all the values in a dictionary.

In [ ]:
even_num={'a':1,'b':2,'c':3,'d':4,'e':6}
value=list(even_num.values())
print("values:",value)
sum=0
for i in value:
    sum+=i

print("sum of values:",sum)

values: [1, 2, 3, 4, 6]
sum of values: 16

14.Write a Python program to create a dictionary with a number and its corresponding square from 1 to input number. And also check if the input number is less than 10

```
Eg:
Input : 3
Output : {1:1, 2:4, 3:9}
```

In [ ]:
input_num=(int(input("enter a number less than 10:")))
d={}
if input_num<10:
    for i in range(input_num):
        key=i+1
        values=(i+1)**2
        d.update({key:values})
    print(d)
else:
    print("input number is not less than 10")

enter a number less than 10:4
{1: 1, 2: 4, 3: 9, 4: 16}

15.Write a Python program to sort a given dictionary by key.

In [ ]:
my_dict = {"banana": 5,"apple":2,"orange":8,"grapes":3,"jackfruit":5}
sorted_dic={}
sorted_key=sorted(my_dict.keys())
for i in sorted_key:
    sorted_dic[i]=my_dict[i]

print(sorted_dic)

{'apple': 2, 'banana': 5, 'grapes': 3, 'jackfruit': 5, 'orange': 8}

16.  Write a Python program to create a dictionary from a string.

```
Note: Track the count of the letters from the string.
Sample string : 'learnpython'
Expected output: {'l': 1, 'e': 1, 'a': 1, 'r': 1, 'n': 2, 'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1}

```

In [ ]:
string='learnpython'
l1=list(string)
count=[]
i=0
while i<len(l1):
  c=l1.count(l1[i])
  count.append(c)
  i+=1
my_dict={k:v for k,v in zip(l1,count)}
print(my_dict)

{'l': 1, 'e': 1, 'a': 1, 'r': 1, 'n': 2, 'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1}

17. Write a Python program to get the top three items in a shop.

```
Sample data: {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}

Expected Output:
item4 55
item1 45.5
item3 41.3
```

In [ ]:
shop_items={'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
sorted_key=sorted(shop_items,key=shop_items.get,reverse=True)
sorted_value=sorted(shop_items.values())
sorted_value.reverse()

for i in range(3):
    print(sorted_key[i], sorted_value[i] )

item4 55
item1 45.5
item3 41.3